<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>My Portfolio</title>
        <meta name='description' content='Description'>
        <style type ="text/css">
        </style>
    </head>
    <body>
        <h1>My Projects</h1>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </body>
</html>