<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amadon Store</title>
    <style type="text/css">
      #wrapper {
        margin: 0 auto;
        width: 80%;
        text-align: center;
      }
      table {
        margin: 0 auto;
        width: 60%;
        min-width: 350px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <h1>Amadon Store!</h1>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
        <tr><form action="/process" method="post">
          {% csrf_token %}
          <td><input type="hidden" name="product_id" value="1">Dojo Tshirt</td>
          <td>$19.99</td>
          <td>
            <select name='quantity'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td><input type="submit" value="Buy!"></td>
        </form></tr>
        <tr><form action="/process" method="post">
          {% csrf_token %}
          <td><input type="hidden" name="product_id" value="2">Dojo Sweater</td>
          <td>$29.99</td>
          <td>
            <select name='quantity'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td><input type="submit" value="Buy!"></td>
        </form></tr>
        <tr><form action="/process" method="post">
          {% csrf_token %}
          <td><input type="hidden" name="product_id" value="3">Dojo Cup</td>
          <td>$4.99</td>
          <td>
            <select name='quantity'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td><input type="submit" value="Buy!"></td>
        </form></tr>
        <tr><form action="/process" method="post">
          {% csrf_token %}
          <td><input type="hidden" name="product_id" value="4">Algorithm Book</td>
          <td>$49.99</td>
          <td>
            <select name='quantity'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
          <td><input type="submit" value="Buy!"></td>
        </form></tr>
      </table>
    </div>
  </body>
</html>
